.menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;

  .logo {
    max-width: 100px;
    max-height: 100px;
    margin-left: 25px;
  }
}

.menu-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  margin-right: 50px;

  li {
    margin-left: 50px;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.body-content {
  margin: 0px;
  padding-bottom: 100px;

  .mountain-header-page {
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    margin: 0px;
  }
}

.header-contain {
  width: 450px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  margin-top: 80px;

  h1 {
    font-size: 50px;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 24px;
    color: white;
    font-weight: 500;
    margin-top: 0px;
  }

  .btn-btn1 {
    width: 140px;
    height: 60px;
    background-color: #11235a;
    box-shadow: none;
    border: none;
    border-radius: 15px;

    a {
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.mountain-services-section {
  background-color: #c4dfdf;
  padding-top: 55px;
  .our-services {
    padding-bottom: 85px;
    .our-services-title {
      margin-bottom: 65px;
      h2 {
        font-size: 35px;
        text-align: center;
      }
    }
    .blurb-section {
      display: flex;
      justify-content: center;
      gap: 25px;
      .blurb-element {
        max-width: 300px;
        background-color: #43766c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px 0px;
        border-radius: 15px;

        .blurb-title {
          font-size: 22px;
          font-weight: 600;
        }

        img {
          max-width: 60px;
        }

        .blurb-content {
          font-size: 16px;
          font-weight: 500;
          margin: auto 65px;
          text-align: center;
        }
      }
    }
  }
}

.about-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  .about-us {
    h2 {
      font-size: 35px;
      font-weight: 700;
    }
  }

  p {
    font-size: 24px;
    width: 700px;
  }

  .about-us-btn {
    background-color: red;
    box-shadow: none;
    border: none;
    width: 240px;
    height: 60px;
    border-radius: 30px;

    a {
      text-decoration: none;
      font-size: 18px;
      color: white;
    }
  }

  .about-us-btn:hover {
    background-color: blue;
  }
}

.mountain-prices-section {
  background-color: #99dd99fd;
  padding: 20px 10px;
  .our-prices {
    h2 {
      font-size: 35px;
      text-align: center;
    }
  }

  .blurb-prices-section {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 30px;
    .prices-elements {
      width: 300px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px 0px;
      border: 5px solid #fe822c;
      border-radius: 15px;
    }
    .blurb-title {
      font-size: 22px;
      font-weight: 600;
    }

    img {
      max-width: 60px;
    }

    .blurb-price {
      font-size: 30px;
      font-weight: 700;
      color: #fa6902fd;
      margin: auto 65px;
      text-align: center;
    }

    .blurb-content {
      font-size: 18px;
      font-weight: 600;
      color: red;
    }
  }
}

.our-team-section {
  background-color: #c4dfdf;
  padding-top: 55px;
  .our-team {
    font-size: 35px;
    text-align: center;
  }
  .team-member {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 30px;
    .member {
      width: 300px;
      background-color: red;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 25px;
      img {
        max-width: 280px;
      }
    }
  }
}
